@mixin icon {
    display: flex;
    width: 103px;
    height: 103px;
    border-radius: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
@mixin form {
    width: 268px;
    height: 45px;
    border: 1px solid #C4C4C4;
    border-radius: 23px;
    padding-left: 28px;
    font-size: 13px;
    font-weight: 400;
    color: #101010;
}