@import "./libs/bootstrap-reboot.min";
@import "./libs/bootstrap-grid.min";

@import "./base/variables";
@import "./base/mixins";

* {
    font-family: 'Roboto', sans-serif;
}
.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    &_slider {
        position: relative;
        max-width: 1413px;
        margin: 0 auto;
    }
}

@import "./blocks/header";
@import "./blocks/btn";
@import "./blocks/promo";
@import "./blocks/ttl";
@import "./blocks/advantages";
@import "./blocks/divider";
@import "./blocks/descr";
@import "./blocks/more";
@import "./blocks/inchina";
@import "./blocks/price";
@import "./blocks/feedform";
@import "./blocks/form";
@import "./blocks/managers";
@import "./blocks/scheme";
@import "./blocks/feedbackhat";
@import "./blocks/carousel";
@import "./blocks/questions";
@import "./blocks/iframe";
@import "./blocks/footer";
@import "./blocks/up";