.btn {
    &__header {
        @include btn;
        margin-top: 44px;
        width: 160px;
        height: 45px;
        font-size: 13px;
        border-radius: 23px;
        margin-left: 18px;
    }
    &__promo {
        @include btn;
        margin: 0 auto;
        margin-top: 39px;
        width: 230px;
        height: 57px;
        border-radius: 28px;
        font-size: 17px;
    }
    &__priceCard {
        @include btn;
        margin-top: 22px;
        width: 160px;
        height: 45px;
        border-radius: 23px;
        font-size: 14px;
        margin-bottom: 22px;
    }
    &__feedform {
        @include btn;
        display: block;
        margin: 0 auto;
        width: 180px;
        height: 45px;
        border-radius: 23px;
        font-size: 14px;
        &_que {
            margin-top: 18px;
        }
    }
    &__footer {
        @include btn;
        margin-top: 30px;
        width: 160px;
        height: 45px;
        font-size: 13px;
        border-radius: 23px;
        margin-left: 18px;
    }
}