.form {
    
    &__letsconsult {
        height: 166px;
        margin-top: 71px;
        padding-top: 70px;
        border: 1px solid #C4C4C4;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .wrapper-inp {
            margin: 0 3px;
            width: 268px;
            display: flex;
            flex-wrap: wrap;   
        }
        input {
            @include form;
        }
        .error {
            border: 1px solid red;
        }
        label.error {
            border: none;
            font-size: 13px;
            margin-top: -20px;
            width: 100%;
            text-align: center;
        }

        
    }
    &__questions {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .wrapper-inp {
            margin: 0 3px;
            width: 268px;
            display: flex;
            flex-wrap: wrap;   
        }
        input {
            @include form;
        }
        .error {
            border: 1px solid red;
        }
        label.error {
            border: none;
            font-size: 13px;
            width: 100%;
            text-align: center;
        }
    }    
}