.scheme {
    padding: 52px 0 46px 0;
    background-color: $greyBG;
    min-height: 455px;
    &__cards {
        display: flex;
    }
    &__card {
        width: 257px;
        height: 145px;
        margin-top: 33px;
        &_middle {
            margin: 0 auto;
            margin-top: 33px;
        }
    }
    &__icon {
        display: flex;
        width: 61px;
        height: 57px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    &__ttl {
        font-size: 16px;
        font-weight: 700;
        color: $mainColor;
        text-align: center;
    }
    &__descr {
        font-size: 13px;
        font-weight: 300;
        color: $darkfont;
        text-align: center;
    }
}