.ttl {
    &__advantages {
        @include ttl;
        color: $darkfont;
        text-transform: uppercase;
        padding-top: 59px;
        margin-bottom: -4px;
    }
    &__more {
        @include ttl;
        color: $darkfont;
        text-transform: uppercase;
        padding-top: 51px;
    }
    &__inchina {
        @include ttl;
        color: $lightFont;
        margin-top: 20px;
    }
    &__price {
        @include ttl;
        color: $darkfont;
        text-transform: uppercase;
        margin-top: 53px;
    }
}